# tsc outDir, build directory
dist/
esm/

# Webstorm(or any other Intellij IDE) config
.idea/

# Node modules
node_modules/

# Built files
tsconfig.tsbuildinfo

# Jest Cache
.jest/

# Yarn
yarn-error.log
